body {
   /* background: url("img/background.jpg");*/
   background: ghostwhite;

    background-size: 100%, 100%;
    color: black;
    font-family: "Helvetica", sans-serif;
    margin:0;
}

#container {
    width: 100%;
    height: auto;
}

#logo {
    width: 20%;
    height: 100px;
    float: left;
    background-color: white;
    border-bottom: 1px solid lightgrey;

}

#logo img {

    width: 80%;
max-height: 70px;
    margin-left: 50px;
   margin-top:20px;

}

#menu {

    width: 80%;
    height: 100px;
    float: left;
    background-color: white;
    border-bottom: 1px solid lightgrey;


}


#content_login {
    width: 100%;
    height: auto;
    margin-left: 37%;
    margin-top: 5%;
    padding-bottom: 80px;
    float: left;
    color: white;
}

#site_href {
    background-color: darkgray;
    width: 600px;
    height: 100px;
    margin-left: 50px;;

}

#content {
    width: 90%;
    height: auto;
    padding-bottom: 80px;
    float: left;
    color: black;
    margin-left: 50px;



}
#content2 {
    padding-top:50px;
    width:85%;

    height: auto;
    margin-left:10%;

    float: left;
    color: black;







}

#footer {
  float:right;
    margin-top:150px;
margin-right: 20px;

    color:black;
    font-weight: bold;
}

#menu ul {
    list-style-type: none;
    display: inline;
    float: left;
    margin-top: 40px;
    text-decoration: none;
    color: white;
}

#menu ul a {
    text-decoration: none;
    color:black;

}

#menu li {
    display: inline;
    padding: 10px;
  color:black;

}
#menu li:hover
{
    font-weight: bold;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

   width:50%;
    position: relative;

    padding-left:10%;
    padding-bottom: 10%;
    margin-top:100px;
    float:left;

}
.slideshow-container img
{
width:200%;


    -webkit-box-shadow: 0px 5px 15px 15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 15px 15px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 15px 15px rgba(66, 68, 90, 1);
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;

    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    left:168%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;

    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
#dots
{
    margin-left:150px;
    width:150px;
}


.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
#lastLI
{
    top: 30px;
    width:100px;
    height:40px;
    right:0;
    bottom: 0;
    position:absolute;

}
#koszyk
{
    top: 30px;
    width:100px;
    height:40px;
    right:100px;
    bottom: 0;
    position:absolute;

}

#lastLI:hover
{
    font-weight: bold;
}
table
{
    color:black;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:100%;





}
table thead tr {
    background-color: #3C56F5;
    color: #ffffff;
    text-align: left;


}
table th,
table td {
    padding: 12px 15px;
    border-right:1px solid #adadad;
    max-width: 600px;
    overflow-wrap:break-word;
    width:50px;
}

table td:first-child {
    padding: 0;
    width:150px;


}
table td img:hover {
    opacity: 0.5;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: white;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #3C56F5;
}
table tbody tr:hover
{
    background-color: lightgrey;

    cursor: pointer;
}
#tripedit
{
    float:left;
    width:500px;
}
.tripimage
{
    width:300px;
    float:left;


}
.tripimage img
{
    width:300px;
    border-radius: 7px;
}
.back
{
    margin-top:50px;
    width:160px;
    height:30px;
    background-color: #3C56F5;
    border:0;
    color:white;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

#btn {
    padding: 10px 20px;
    background-color: #22438C;
    color: #fff;
}
.hold {
    padding: 100px 200px !important;
    transition-duration: 3s;
}
.release {
    padding: 10px 20px !important;
    transition-duration: 1s;
}
#select_sort
{
    width:200px;
    height:40px;
    border-radius: 7px;
    font-size: 17px;


}
#mainright
{
    float:left;
    width:40%;

    height:60%;
    padding-top: 100px;
    padding-left: 50px;

}
#mainleft
{
    float:left;
    width:50%;


    height:60%;
}


h1{
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    font-weight: normal;
}

#zaplacbutton{
    background: none repeat scroll 0 0 #3C56F5;
    border-radius: 7%;

    color: #FFFFFF;
    width: 150px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    margin: 5% auto;
    display: block;
    outline: none;
}



#zaplacbutton:active{
    box-shadow: 0px 0px darkblue;
    top: 5px;
}

.spinner{
    position: absolute;
    left: 0; right: 0;
    top: 0;
    border-radius: 7%;
    color: white;
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    width: 150px;


}

.active{
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-color: black;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}
@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}
.fa-circle-check
{
    padding-top:10px;
}
#hold
{

    margin-left:36%;


}
.tekst {
    text-align: left;

    width: 100%;
    float: left;

    margin-left:30px;
    color:grey;
    padding-bottom: 2px;
    font-size: 14px;



}

.ocenacenter
{
    margin-left:35%;
}

#ocenki
{
    padding-left:50px ;
    margin-top:50px;
    width:100%;
    height:300px;
    float:left;

}
.jednatrzecia
{
    float:left;
    border-right:1px solid grey;
    width:33%;
    height:200px;
    text-align: center;
    padding:20px;
}
.jednatrzecia:nth-child(5)
{
    border-right:0;
}
.jednatrzecia i
{

}
.fa-circle-user
{
    font-size:40px;
}

#areaocena
{
    width:300px;
    max-width: 300px;
    min-width: 300px;
    min-height:100px;
    max-height:200px;
    border-radius: 7px;
}
.fa-star-half-stroke:hover
{
    cursor: pointer;
}
#ordertable
{
    text-align: center;
}
#ordertable thead tr
{
    text-align: center;
}

#ocenainput
{
    width:50px;
    height:50px;
    font-size: 30px;
    border-radius: 7px;
}